In [83]:
import pandas as pd
import csv

In [3]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', None)

<hr>

# Output from Problem 1: we have filename and calculated distance

In [4]:
output = pd.read_csv("output.csv")

In [5]:
output.head()

               filename   distance
0  9598683_040_pred.png  23.953488
1  9063955_094_pred.png        NaN
2  9579246_002_pred.png        NaN
3  9802170_058_pred.png  22.187050
4  9950790_056_pred.png  18.023077

In [6]:
output['filename'] = output['filename'].astype(str)
output["filename"] = output["filename"].str.replace("_pred.png", "", regex=False)

In [7]:
output.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31680 entries, 0 to 31679
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   filename  31680 non-null  object
 1   distance  17012 non-null  float64
dtypes: float64(1), object(1)
memory usage: 495.1+ KB

In [8]:
output = output.sort_values(by="filename").reset_index(drop=True)

In [9]:
output[["case", "slice"]] = output["filename"].str.split("_", expand=True)

In [10]:
output = output[['filename', 'case', 'slice', 'distance']]

In [11]:
# Example of case 9002116 with label B (OA: 3 to 4)
output.head(160)

        filename     case slice   distance
0    9002116_001  9002116   001        NaN
1    9002116_002  9002116   002        NaN
2    9002116_003  9002116   003        NaN
3    9002116_004  9002116   004        NaN
4    9002116_005  9002116   005        NaN
5    9002116_006  9002116   006        NaN
6    9002116_007  9002116   007        NaN
7    9002116_008  9002116   008        NaN
8    9002116_009  9002116   009        NaN
9    9002116_010  9002116   010        NaN
10   9002116_011  9002116   011        NaN
11   9002116_012  9002116   012        NaN
12   9002116_013  9002116   013        NaN
13   9002116_014  9002116   014        NaN
14   9002116_015  9002116   015        NaN
15   9002116_016  9002116   016        NaN
16   9002116_017  9002116   017        NaN
17   9002116_018  9002116   018        NaN
18   9002116_019  9002116   019        NaN
19   9002116_020  9002116   020        NaN
20   9002116_021  9002116   021        NaN
21   9002116_022  9002116   022        NaN
22   9002116_023  9002116   023        NaN
23   9002116_024  9002116   024        NaN
24   9002116_025  9002116   025        NaN
25   9002116_026  9002116   026        NaN
26   9002116_027  9002116   027  17.895522
27   9002116_028  9002116   028  15.802632
28   9002116_029  9002116   029  14.926829
29   9002116_030  9002116   030  14.022727
30   9002116_031  9002116   031  13.265957
31   9002116_032  9002116   032  13.181818
32   9002116_033  9002116   033  12.754902
33   9002116_034  9002116   034  12.745283
34   9002116_035  9002116   035  13.036364
35   9002116_036  9002116   036  13.434783
36   9002116_037  9002116   037  13.372881
37   9002116_038  9002116   038  13.341667
38   9002116_039  9002116   039  13.090164
39   9002116_040  9002116   040  12.975806
40   9002116_041  9002116   041  13.070312
41   9002116_042  9002116   042  13.213740
42   9002116_043  9002116   043  13.146154
43   9002116_044  9002116   044  13.083969
44   9002116_045  9002116   045  12.932331
45   9002116_046  9002116   046  13.118519
46   9002116_047  9002116   047  13.389706
47   9002116_048  9002116   048  13.877698
48   9002116_049  9002116   049  14.433566
49   9002116_050  9002116   050  14.972414
50   9002116_051  9002116   051  15.074830
51   9002116_052  9002116   052  15.229730
52   9002116_053  9002116   053  15.553333
53   9002116_054  9002116   054  15.921569
54   9002116_055  9002116   055  16.311688
55   9002116_056  9002116   056  16.167742
56   9002116_057  9002116   057  16.547771
57   9002116_058  9002116   058  16.905660
58   9002116_059  9002116   059  17.525000
59   9002116_060  9002116   060  17.616352
60   9002116_061  9002116   061  17.394904
61   9002116_062  9002116   062  17.583333
62   9002116_063  9002116   063  18.382166
63   9002116_064  9002116   064  18.923077
64   9002116_065  9002116   065  19.743590
65   9002116_066  9002116   066  20.655844
66   9002116_067  9002116   067  21.228758
67   9002116_068  9002116   068  21.947368
68   9002116_069  9002116   069  23.420000
69   9002116_070  9002116   070  23.310345
70   9002116_071  9002116   071  23.281690
71   9002116_072  9002116   072  20.208333
72   9002116_073  9002116   073  28.365217
73   9002116_074  9002116   074  29.808696
74   9002116_075  9002116   075  30.379310
75   9002116_076  9002116   076        NaN
76   9002116_077  9002116   077        NaN
77   9002116_078  9002116   078        NaN
78   9002116_079  9002116   079        NaN
79   9002116_080  9002116   080        NaN
80   9002116_081  9002116   081        NaN
81   9002116_082  9002116   082        NaN
82   9002116_083  9002116   083        NaN
83   9002116_084  9002116   084        NaN
84   9002116_085  9002116   085        NaN
85   9002116_086  9002116   086        NaN
86   9002116_087  9002116   087        NaN
87   9002116_088  9002116   088        NaN
88   9002116_089  9002116   089        NaN
89   9002116_090  9002116   090        NaN
90   9002116_091  9002116   091        NaN
91   9002116_092  9002116   092        NaN
92   9002116_093  9002116   093  46.592000
93   9002116_094  9002116   094  45.257812
94   9002116_095  9002116   095  42.435115
95   9002116_096  9002116   096  43.089172
96   9002116_097  9002116   097  42.745342
97   9002116_098  9002116   098  41.527950
98   9002116_099  9002116   099  41.962963
99   9002116_100  9002116   100  41.672840
100  9002116_101  9002116   101  41.441718
101  9002116_102  9002116   102  40.765432
102  9002116_103  9002116   103  42.236364
103  9002116_104  9002116   104  40.274390
104  9002116_105  9002116   105  40.192771
105  9002116_106  9002116   106  39.724551
106  9002116_107  9002116   107  38.748503
107  9002116_108  9002116   108  38.023810
108  9002116_109  9002116   109  37.244048
109  9002116_110  9002116   110  36.633136
110  9002116_111  9002116   111  35.686391
111  9002116_112  9002116   112  34.221557
112  9002116_113  9002116   113  34.303571
113  9002116_114  9002116   114  32.243902
114  9002116_115  9002116   115  32.036810
115  9002116_116  9002116   116  30.925000
116  9002116_117  9002116   117  29.318471
117  9002116_118  9002116   118  28.051948
118  9002116_119  9002116   119  24.027211
119  9002116_120  9002116   120  24.231293
120  9002116_121  9002116   121  24.205479
121  9002116_122  9002116   122  23.924658
122  9002116_123  9002116   123  24.260274
123  9002116_124  9002116   124  23.524138
124  9002116_125  9002116   125  23.160839
125  9002116_126  9002116   126  22.895833
126  9002116_127  9002116   127  23.097902
127  9002116_128  9002116   128  23.244755
128  9002116_129  9002116   129  23.316901
129  9002116_130  9002116   130  24.517241
130  9002116_131  9002116   131  24.447552
131  9002116_132  9002116   132  25.042553
132  9002116_133  9002116   133  25.935252
133  9002116_134  9002116   134  26.211679
134  9002116_135  9002116   135  30.067164
135  9002116_136  9002116   136  29.574803
136  9002116_137  9002116   137        NaN
137  9002116_138  9002116   138        NaN
138  9002116_139  9002116   139        NaN
139  9002116_140  9002116   140        NaN
140  9002116_141  9002116   141        NaN
141  9002116_142  9002116   142        NaN
142  9002116_143  9002116   143        NaN
143  9002116_144  9002116   144        NaN
144  9002116_145  9002116   145        NaN
145  9002116_146  9002116   146        NaN
146  9002116_147  9002116   147        NaN
147  9002116_148  9002116   148        NaN
148  9002116_149  9002116   149        NaN
149  9002116_150  9002116   150        NaN
150  9002116_151  9002116   151        NaN
151  9002116_152  9002116   152        NaN
152  9002116_153  9002116   153        NaN
153  9002116_154  9002116   154        NaN
154  9002116_155  9002116   155        NaN
155  9002116_156  9002116   156        NaN
156  9002116_157  9002116   157        NaN
157  9002116_158  9002116   158        NaN
158  9002116_159  9002116   159        NaN
159  9002116_160  9002116   160        NaN

In [12]:
# Example of case 9005075 with label A (non-OA: 0 to 2)
output.iloc[160:320]

        filename     case slice   distance
160  9005075_001  9005075   001        NaN
161  9005075_002  9005075   002        NaN
162  9005075_003  9005075   003        NaN
163  9005075_004  9005075   004        NaN
164  9005075_005  9005075   005        NaN
165  9005075_006  9005075   006        NaN
166  9005075_007  9005075   007        NaN
167  9005075_008  9005075   008        NaN
168  9005075_009  9005075   009        NaN
169  9005075_010  9005075   010        NaN
170  9005075_011  9005075   011        NaN
171  9005075_012  9005075   012        NaN
172  9005075_013  9005075   013        NaN
173  9005075_014  9005075   014        NaN
174  9005075_015  9005075   015        NaN
175  9005075_016  9005075   016        NaN
176  9005075_017  9005075   017        NaN
177  9005075_018  9005075   018        NaN
178  9005075_019  9005075   019        NaN
179  9005075_020  9005075   020        NaN
180  9005075_021  9005075   021        NaN
181  9005075_022  9005075   022        NaN
182  9005075_023  9005075   023        NaN
183  9005075_024  9005075   024        NaN
184  9005075_025  9005075   025        NaN
185  9005075_026  9005075   026        NaN
186  9005075_027  9005075   027  72.307692
187  9005075_028  9005075   028  65.549020
188  9005075_029  9005075   029  61.066667
189  9005075_030  9005075   030  31.630952
190  9005075_031  9005075   031  31.597826
191  9005075_032  9005075   032  29.600000
192  9005075_033  9005075   033  27.888889
193  9005075_034  9005075   034  26.766990
194  9005075_035  9005075   035  25.409524
195  9005075_036  9005075   036  24.179245
196  9005075_037  9005075   037  23.289720
197  9005075_038  9005075   038  23.146789
198  9005075_039  9005075   039  22.554545
199  9005075_040  9005075   040  22.522124
200  9005075_041  9005075   041  22.184211
201  9005075_042  9005075   042  21.913043
202  9005075_043  9005075   043  21.530435
203  9005075_044  9005075   044  23.117647
204  9005075_045  9005075   045  22.663866
205  9005075_046  9005075   046  22.050847
206  9005075_047  9005075   047  22.403361
207  9005075_048  9005075   048  22.766667
208  9005075_049  9005075   049  23.557377
209  9005075_050  9005075   050  23.747967
210  9005075_051  9005075   051  24.370968
211  9005075_052  9005075   052  25.008000
212  9005075_053  9005075   053  27.148438
213  9005075_054  9005075   054  29.389313
214  9005075_055  9005075   055  29.887218
215  9005075_056  9005075   056  32.569343
216  9005075_057  9005075   057  33.394161
217  9005075_058  9005075   058  34.316547
218  9005075_059  9005075   059  35.964539
219  9005075_060  9005075   060  36.773050
220  9005075_061  9005075   061  36.237410
221  9005075_062  9005075   062  38.524823
222  9005075_063  9005075   063  38.414286
223  9005075_064  9005075   064  38.690647
224  9005075_065  9005075   065  39.597122
225  9005075_066  9005075   066  40.304348
226  9005075_067  9005075   067  40.802920
227  9005075_068  9005075   068  40.778626
228  9005075_069  9005075   069  41.892308
229  9005075_070  9005075   070        NaN
230  9005075_071  9005075   071        NaN
231  9005075_072  9005075   072        NaN
232  9005075_073  9005075   073        NaN
233  9005075_074  9005075   074        NaN
234  9005075_075  9005075   075        NaN
235  9005075_076  9005075   076        NaN
236  9005075_077  9005075   077        NaN
237  9005075_078  9005075   078        NaN
238  9005075_079  9005075   079        NaN
239  9005075_080  9005075   080        NaN
240  9005075_081  9005075   081        NaN
241  9005075_082  9005075   082        NaN
242  9005075_083  9005075   083        NaN
243  9005075_084  9005075   084        NaN
244  9005075_085  9005075   085        NaN
245  9005075_086  9005075   086        NaN
246  9005075_087  9005075   087        NaN
247  9005075_088  9005075   088        NaN
248  9005075_089  9005075   089        NaN
249  9005075_090  9005075   090        NaN
250  9005075_091  9005075   091        NaN
251  9005075_092  9005075   092        NaN
252  9005075_093  9005075   093        NaN
253  9005075_094  9005075   094        NaN
254  9005075_095  9005075   095        NaN
255  9005075_096  9005075   096        NaN
256  9005075_097  9005075   097        NaN
257  9005075_098  9005075   098  27.500000
258  9005075_099  9005075   099  28.234043
259  9005075_100  9005075   100  25.923913
260  9005075_101  9005075   101  26.871287
261  9005075_102  9005075   102  31.854839
262  9005075_103  9005075   103  21.918033
263  9005075_104  9005075   104  21.814516
264  9005075_105  9005075   105  20.830645
265  9005075_106  9005075   106  20.528000
266  9005075_107  9005075   107  19.992126
267  9005075_108  9005075   108  19.476562
268  9005075_109  9005075   109  18.333333
269  9005075_110  9005075   110  17.897638
270  9005075_111  9005075   111  17.672000
271  9005075_112  9005075   112  17.666667
272  9005075_113  9005075   113  17.233871
273  9005075_114  9005075   114  17.104000
274  9005075_115  9005075   115  17.064000
275  9005075_116  9005075   116  16.798387
276  9005075_117  9005075   117  16.645161
277  9005075_118  9005075   118  16.544715
278  9005075_119  9005075   119  16.229508
279  9005075_120  9005075   120  16.140496
280  9005075_121  9005075   121  16.429752
281  9005075_122  9005075   122  16.042017
282  9005075_123  9005075   123  16.016949
283  9005075_124  9005075   124  16.432203
284  9005075_125  9005075   125  16.508621
285  9005075_126  9005075   126  16.614035
286  9005075_127  9005075   127  16.787611
287  9005075_128  9005075   128  17.053571
288  9005075_129  9005075   129  17.376147
289  9005075_130  9005075   130  17.785047
290  9005075_131  9005075   131  18.409524
291  9005075_132  9005075   132  18.815534
292  9005075_133  9005075   133  18.734694
293  9005075_134  9005075   134  19.236559
294  9005075_135  9005075   135  19.395349
295  9005075_136  9005075   136  19.925000
296  9005075_137  9005075   137  20.541667
297  9005075_138  9005075   138  22.287879
298  9005075_139  9005075   139  24.052632
299  9005075_140  9005075   140  25.369565
300  9005075_141  9005075   141        NaN
301  9005075_142  9005075   142        NaN
302  9005075_143  9005075   143  50.250000
303  9005075_144  9005075   144        NaN
304  9005075_145  9005075   145        NaN
305  9005075_146  9005075   146        NaN
306  9005075_147  9005075   147        NaN
307  9005075_148  9005075   148        NaN
308  9005075_149  9005075   149        NaN
309  9005075_150  9005075   150        NaN
310  9005075_151  9005075   151        NaN
311  9005075_152  9005075   152        NaN
312  9005075_153  9005075   153        NaN
313  9005075_154  9005075   154        NaN
314  9005075_155  9005075   155        NaN
315  9005075_156  9005075   156        NaN
316  9005075_157  9005075   157        NaN
317  9005075_158  9005075   158        NaN
318  9005075_159  9005075   159        NaN
319  9005075_160  9005075   160        NaN

In [13]:
output.tail(160)

          filename     case slice   distance
31520  9997856_001  9997856   001        NaN
31521  9997856_002  9997856   002        NaN
31522  9997856_003  9997856   003        NaN
31523  9997856_004  9997856   004        NaN
31524  9997856_005  9997856   005        NaN
31525  9997856_006  9997856   006        NaN
31526  9997856_007  9997856   007        NaN
31527  9997856_008  9997856   008        NaN
31528  9997856_009  9997856   009        NaN
31529  9997856_010  9997856   010        NaN
31530  9997856_011  9997856   011        NaN
31531  9997856_012  9997856   012        NaN
31532  9997856_013  9997856   013        NaN
31533  9997856_014  9997856   014        NaN
31534  9997856_015  9997856   015        NaN
31535  9997856_016  9997856   016        NaN
31536  9997856_017  9997856   017        NaN
31537  9997856_018  9997856   018        NaN
31538  9997856_019  9997856   019        NaN
31539  9997856_020  9997856   020  61.441176
31540  9997856_021  9997856   021  58.783784
31541  9997856_022  9997856   022  32.121951
31542  9997856_023  9997856   023        NaN
31543  9997856_024  9997856   024  45.019231
31544  9997856_025  9997856   025  23.083333
31545  9997856_026  9997856   026  18.069444
31546  9997856_027  9997856   027  17.236842
31547  9997856_028  9997856   028  16.746988
31548  9997856_029  9997856   029  17.375000
31549  9997856_030  9997856   030  18.297872
31550  9997856_031  9997856   031  18.696970
31551  9997856_032  9997856   032  17.500000
31552  9997856_033  9997856   033  17.429907
31553  9997856_034  9997856   034  17.189189
31554  9997856_035  9997856   035  17.226087
31555  9997856_036  9997856   036  17.302521
31556  9997856_037  9997856   037  17.147541
31557  9997856_038  9997856   038  17.388889
31558  9997856_039  9997856   039  17.061538
31559  9997856_040  9997856   040  16.857143
31560  9997856_041  9997856   041  16.941176
31561  9997856_042  9997856   042  16.942857
31562  9997856_043  9997856   043  16.542254
31563  9997856_044  9997856   044  16.455172
31564  9997856_045  9997856   045  16.197279
31565  9997856_046  9997856   046  16.306667
31566  9997856_047  9997856   047  16.274510
31567  9997856_048  9997856   048  16.141935
31568  9997856_049  9997856   049  16.108280
31569  9997856_050  9997856   050  16.275000
31570  9997856_051  9997856   051  15.801242
31571  9997856_052  9997856   052  15.635802
31572  9997856_053  9997856   053  15.456790
31573  9997856_054  9997856   054  15.581818
31574  9997856_055  9997856   055  15.432927
31575  9997856_056  9997856   056  15.716867
31576  9997856_057  9997856   057  17.187135
31577  9997856_058  9997856   058  18.097701
31578  9997856_059  9997856   059  18.202312
31579  9997856_060  9997856   060  18.802326
31580  9997856_061  9997856   061  24.571429
31581  9997856_062  9997856   062  23.660000
31582  9997856_063  9997856   063  24.891892
31583  9997856_064  9997856   064  27.571429
31584  9997856_065  9997856   065  25.651852
31585  9997856_066  9997856   066  30.000000
31586  9997856_067  9997856   067  29.719424
31587  9997856_068  9997856   068  31.892857
31588  9997856_069  9997856   069  32.287770
31589  9997856_070  9997856   070  33.413043
31590  9997856_071  9997856   071  34.355556
31591  9997856_072  9997856   072        NaN
31592  9997856_073  9997856   073  37.413534
31593  9997856_074  9997856   074  36.545455
31594  9997856_075  9997856   075  35.796875
31595  9997856_076  9997856   076  37.692308
31596  9997856_077  9997856   077  38.830769
31597  9997856_078  9997856   078  39.830769
31598  9997856_079  9997856   079  41.473282
31599  9997856_080  9997856   080  43.115385
31600  9997856_081  9997856   081  44.863636
31601  9997856_082  9997856   082  47.090226
31602  9997856_083  9997856   083  47.611940
31603  9997856_084  9997856   084  47.259259
31604  9997856_085  9997856   085  41.169118
31605  9997856_086  9997856   086  40.832117
31606  9997856_087  9997856   087  38.231788
31607  9997856_088  9997856   088  38.401316
31608  9997856_089  9997856   089  37.788079
31609  9997856_090  9997856   090  37.293333
31610  9997856_091  9997856   091  36.738255
31611  9997856_092  9997856   092  36.523490
31612  9997856_093  9997856   093  36.553333
31613  9997856_094  9997856   094  35.854305
31614  9997856_095  9997856   095  35.576159
31615  9997856_096  9997856   096  36.921053
31616  9997856_097  9997856   097  37.192053
31617  9997856_098  9997856   098  37.178808
31618  9997856_099  9997856   099  37.673203
31619  9997856_100  9997856   100  38.825806
31620  9997856_101  9997856   101  38.615385
31621  9997856_102  9997856   102  39.037736
31622  9997856_103  9997856   103  39.138365
31623  9997856_104  9997856   104  40.006250
31624  9997856_105  9997856   105  39.193750
31625  9997856_106  9997856   106  37.911950
31626  9997856_107  9997856   107  37.006250
31627  9997856_108  9997856   108  35.101911
31628  9997856_109  9997856   109  37.339623
31629  9997856_110  9997856   110  34.487179
31630  9997856_111  9997856   111  34.384615
31631  9997856_112  9997856   112  30.746667
31632  9997856_113  9997856   113  29.945578
31633  9997856_114  9997856   114  29.275862
31634  9997856_115  9997856   115  28.701389
31635  9997856_116  9997856   116  28.678322
31636  9997856_117  9997856   117  28.230769
31637  9997856_118  9997856   118  28.277778
31638  9997856_119  9997856   119  27.049645
31639  9997856_120  9997856   120  26.650000
31640  9997856_121  9997856   121  26.785714
31641  9997856_122  9997856   122  26.625899
31642  9997856_123  9997856   123  26.181159
31643  9997856_124  9997856   124  27.474820
31644  9997856_125  9997856   125  26.576642
31645  9997856_126  9997856   126  26.404412
31646  9997856_127  9997856   127  25.895522
31647  9997856_128  9997856   128  25.714286
31648  9997856_129  9997856   129  26.432836
31649  9997856_130  9997856   130  25.908397
31650  9997856_131  9997856   131  27.076923
31651  9997856_132  9997856   132  27.968750
31652  9997856_133  9997856   133  29.535433
31653  9997856_134  9997856   134  28.272727
31654  9997856_135  9997856   135  29.163462
31655  9997856_136  9997856   136  28.969072
31656  9997856_137  9997856   137        NaN
31657  9997856_138  9997856   138        NaN
31658  9997856_139  9997856   139        NaN
31659  9997856_140  9997856   140        NaN
31660  9997856_141  9997856   141        NaN
31661  9997856_142  9997856   142        NaN
31662  9997856_143  9997856   143        NaN
31663  9997856_144  9997856   144        NaN
31664  9997856_145  9997856   145        NaN
31665  9997856_146  9997856   146        NaN
31666  9997856_147  9997856   147        NaN
31667  9997856_148  9997856   148        NaN
31668  9997856_149  9997856   149        NaN
31669  9997856_150  9997856   150        NaN
31670  9997856_151  9997856   151        NaN
31671  9997856_152  9997856   152        NaN
31672  9997856_153  9997856   153        NaN
31673  9997856_154  9997856   154        NaN
31674  9997856_155  9997856   155        NaN
31675  9997856_156  9997856   156        NaN
31676  9997856_157  9997856   157        NaN
31677  9997856_158  9997856   158        NaN
31678  9997856_159  9997856   159        NaN
31679  9997856_160  9997856   160        NaN

In [14]:
output['case'].nunique()

198

In [15]:
case_list = output['case'].unique().tolist()

In [16]:
type(case_list[0])

str

In [17]:
case_list.sort()

In [18]:
len(case_list)

198

In [19]:
case_list

['9002116',
 '9005075',
 '9005132',
 '9026934',
 '9030718',
 '9031141',
 '9033275',
 '9037952',
 '9043945',
 '9047800',
 '9048789',
 '9049007',
 '9058960',
 '9063955',
 '9064631',
 '9065272',
 '9072646',
 '9074878',
 '9081858',
 '9086868',
 '9088414',
 '9089119',
 '9101270',
 '9123404',
 '9126260',
 '9135752',
 '9138965',
 '9155861',
 '9157453',
 '9159804',
 '9167541',
 '9173013',
 '9188806',
 '9189986',
 '9208016',
 '9238970',
 '9253530',
 '9270239',
 '9273764',
 '9282257',
 '9291078',
 '9294761',
 '9300338',
 '9310416',
 '9326657',
 '9328093',
 '9330729',
 '9341240',
 '9369225',
 '9372474',
 '9373191',
 '9374235',
 '9386206',
 '9393987',
 '9402139',
 '9406962',
 '9410253',
 '9414291',
 '9414391',
 '9427858',
 '9430102',
 '9437407',
 '9438742',
 '9438852',
 '9441420',
 '9448098',
 '9452100',
 '9458093',
 '9458176',
 '9461404',
 '9467278',
 '9467311',
 '9469520',
 '9472254',
 '9475264',
 '9488441',
 '9493073',
 '9493245',
 '9493338',
 '9494867',
 '9495437',
 '9495873',
 '9497375',
 '9501362',
 '9504862',
 '9511423',
 '9512864',
 '9513860',
 '9530445',
 '9532970',
 '9542088',
 '9556110',
 '9556402',
 '9559547',
 '9559860',
 '9560702',
 '9564729',
 '9566972',
 '9568504',
 '9568974',
 '9570949',
 '9579246',
 '9581915',
 '9584990',
 '9585931',
 '9587941',
 '9596238',
 '9597241',
 '9598235',
 '9598683',
 '9601011',
 '9627716',
 '9628393',
 '9633944',
 '9634187',
 '9634422',
 '9635177',
 '9637676',
 '9638953',
 '9639088',
 '9640119',
 '9644109',
 '9645478',
 '9646223',
 '9651214',
 '9658152',
 '9680112',
 '9690658',
 '9693161',
 '9703327',
 '9708289',
 '9711284',
 '9716393',
 '9719999',
 '9721540',
 '9726778',
 '9729986',
 '9740303',
 '9745458',
 '9746416',
 '9753580',
 '9761431',
 '9764454',
 '9770617',
 '9770626',
 '9775951',
 '9776018',
 '9780662',
 '9785243',
 '9787693',
 '9788608',
 '9792327',
 '9797791',
 '9798351',
 '9800677',
 '9800893',
 '9802170',
 '9809967',
 '9812168',
 '9813958',
 '9818478',
 '9824274',
 '9830316',
 '9832481',
 '9841033',
 '9843822',
 '9843845',
 '9847873',
 '9858252',
 '9860356',
 '9861699',
 '9865818',
 '9872052',
 '9872426',
 '9874238',
 '9876792',
 '9878596',
 '9883115',
 '9885702',
 '9886298',
 '9897397',
 '9908796',
 '9915977',
 '9917284',
 '9919646',
 '9925131',
 '9925760',
 '9928844',
 '9936238',
 '9936312',
 '9948322',
 '9950790',
 '9957519',
 '9981798',
 '9988421',
 '9990072',
 '9991313',
 '9997856']

<hr>

In [20]:
data = pd.read_csv("../KL grade for baseline year and 2-year follow up.csv")

In [21]:
data['cases'] = data['cases'].astype(str)

In [22]:
data.head()

     cases  V00XRKL V03KL
0  9002116        3     B
1  9005075        0     A
2  9005132        4     B
3  9026934        2     A
4  9030718        3     B

In [23]:
data['cases'].nunique()

196

In [24]:
case_list_2 = data['cases'].unique().tolist()

In [25]:
case_list_2.sort()

In [26]:
type(case_list_2[0])

str

In [27]:
case_list_2

['9002116',
 '9005075',
 '9005132',
 '9026934',
 '9030718',
 '9031141',
 '9033275',
 '9037952',
 '9043945',
 '9047800',
 '9048789',
 '9049007',
 '9058960',
 '9063955',
 '9064631',
 '9065272',
 '9072646',
 '9074878',
 '9081858',
 '9086868',
 '9088414',
 '9089119',
 '9101270',
 '9123404',
 '9126260',
 '9135752',
 '9138965',
 '9155861',
 '9157453',
 '9159804',
 '9167541',
 '9173013',
 '9188806',
 '9189986',
 '9208016',
 '9238970',
 '9253530',
 '9270239',
 '9273764',
 '9282257',
 '9291078',
 '9294761',
 '9300338',
 '9310416',
 '9326657',
 '9328093',
 '9330729',
 '9341240',
 '9369225',
 '9372474',
 '9373191',
 '9374235',
 '9386206',
 '9393987',
 '9402139',
 '9406962',
 '9410253',
 '9414291',
 '9414391',
 '9427858',
 '9430102',
 '9437407',
 '9438742',
 '9438852',
 '9441420',
 '9448098',
 '9452100',
 '9458093',
 '9458176',
 '9461404',
 '9467278',
 '9467311',
 '9469520',
 '9472254',
 '9475264',
 '9488441',
 '9493073',
 '9493245',
 '9493338',
 '9494867',
 '9495437',
 '9495873',
 '9497375',
 '9501362',
 '9504862',
 '9511423',
 '9512864',
 '9513860',
 '9530445',
 '9532970',
 '9542088',
 '9556110',
 '9556402',
 '9559547',
 '9559860',
 '9560702',
 '9564729',
 '9568504',
 '9568974',
 '9570949',
 '9579246',
 '9581915',
 '9584990',
 '9585931',
 '9587941',
 '9596238',
 '9597241',
 '9598235',
 '9598683',
 '9601011',
 '9627716',
 '9628393',
 '9634187',
 '9634422',
 '9635177',
 '9637676',
 '9638953',
 '9639088',
 '9640119',
 '9644109',
 '9645478',
 '9646223',
 '9651214',
 '9658152',
 '9680112',
 '9690658',
 '9693161',
 '9703327',
 '9708289',
 '9711284',
 '9716393',
 '9719999',
 '9721540',
 '9726778',
 '9729986',
 '9740303',
 '9745458',
 '9746416',
 '9753580',
 '9761431',
 '9764454',
 '9770617',
 '9770626',
 '9775951',
 '9776018',
 '9780662',
 '9785243',
 '9787693',
 '9788608',
 '9792327',
 '9797791',
 '9798351',
 '9800677',
 '9800893',
 '9802170',
 '9809967',
 '9812168',
 '9813958',
 '9818478',
 '9824274',
 '9830316',
 '9832481',
 '9841033',
 '9843822',
 '9843845',
 '9847873',
 '9858252',
 '9860356',
 '9861699',
 '9865818',
 '9872052',
 '9872426',
 '9874238',
 '9876792',
 '9878596',
 '9883115',
 '9885702',
 '9886298',
 '9897397',
 '9908796',
 '9915977',
 '9917284',
 '9919646',
 '9925131',
 '9925760',
 '9928844',
 '9936238',
 '9936312',
 '9948322',
 '9950790',
 '9957519',
 '9981798',
 '9988421',
 '9990072',
 '9991313',
 '9997856']

In [28]:
if case_list == case_list_2:
    print("The case lists are identical.")
else:
    diff1 = set(case_list) - set(case_list_2)
    diff2 = set(case_list_2) - set(case_list)

    print("Items in case_list but not in case_list_2:", diff1)
    print("Items in case_list_2 but not in case_list:", diff2)

Items in case_list but not in case_list_2: {'9566972', '9633944'}
Items in case_list_2 but not in case_list: set()

* There are 2 cases in 'preds' folder that are not in "KL grade for baseline year and 2-year follow up.csv"

* These 2 cases don't have KL grades and labels (A/B)

* Will be removed.

In [29]:
cases_to_removed = output[output['case'].isin(diff1)]

In [30]:
cases_to_removed.shape

(320, 4)

* Drop 2 cases {'9566972', '9633944'} : 160 slices x 2 = 320 rows

In [31]:
output.shape

(31680, 4)

In [32]:
output = output.drop(cases_to_removed.index).reset_index(drop=True)

In [33]:
output.shape

(31360, 4)

In [34]:
output['slice'] = output['slice'].astype(int)

In [35]:
output.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31360 entries, 0 to 31359
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   filename  31360 non-null  object
 1   case      31360 non-null  object
 2   slice     31360 non-null  int64
 3   distance  16881 non-null  float64
dtypes: float64(1), int64(1), object(2)
memory usage: 980.1+ KB

In [36]:
output.head()

      filename     case  slice  distance
0  9002116_001  9002116      1       NaN
1  9002116_002  9002116      2       NaN
2  9002116_003  9002116      3       NaN
3  9002116_004  9002116      4       NaN
4  9002116_005  9002116      5       NaN

<hr>

# Output from Problem 2: we have start and end range of slices for each case

In [37]:
ranges_df = pd.read_csv("valid_slice_ranges.csv")

In [38]:
ranges_df['case_id'] = ranges_df['case_id'].astype(str)

In [39]:
ranges_df.head()

   case_id  start_slice  end_slice  num_valid_slices
0  9002116           33        140               106
1  9005075           30        136               107
2  9005132           30        139               107
3  9026934           38        129                92
4  9030718           24        114                91

In [40]:
ranges_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 198 entries, 0 to 197
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   case_id           198 non-null    object
 1   start_slice       198 non-null    int64
 2   end_slice         198 non-null    int64
 3   num_valid_slices  198 non-null    int64
dtypes: int64(3), object(1)
memory usage: 6.3+ KB

In [41]:
ranges_df['case_id'].nunique()

198

In [42]:
{'9566972', '9633944'}
ranges_df[ranges_df['case_id'].isin({'9566972', '9633944'})]

     case_id  start_slice  end_slice  num_valid_slices
97   9566972           27        110                77
113  9633944           41        128                88

In [43]:
ranges_df = ranges_df[~ranges_df['case_id'].isin({'9566972', '9633944'})].reset_index(drop=True)

In [44]:
ranges_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 196 entries, 0 to 195
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   case_id           196 non-null    object
 1   start_slice       196 non-null    int64
 2   end_slice         196 non-null    int64
 3   num_valid_slices  196 non-null    int64
dtypes: int64(3), object(1)
memory usage: 6.3+ KB

In [45]:
ranges_df = ranges_df.sort_values(by="case_id").reset_index(drop=True)

In [46]:
new_case_list = ranges_df['case_id'].unique().tolist()

In [47]:
type(new_case_list[0])

str

In [48]:
new_case_list.sort()

In [49]:
len(new_case_list)

196

In [50]:
new_case_list == case_list

False

In [51]:
new_case_list == case_list_2

True

<hr>

In [52]:
# create a new df to store the filtered slices:

df = pd.DataFrame(columns=["case", "slice", "distance"])

In [53]:
for case, slice, distance in zip(output['case'], output['slice'], output['distance']):
    for case_id, start, end in zip(ranges_df['case_id'], ranges_df['start_slice'], ranges_df['end_slice']):
        if case == case_id and start <= slice <= end:
            df.loc[len(df)] = {
                "case": case,
                "slice": slice,
                "distance": distance
            }

In [54]:
df.head()

      case  slice   distance
0  9002116     33  12.754902
1  9002116     34  12.745283
2  9002116     35  13.036364
3  9002116     36  13.434783
4  9002116     37  13.372881

<hr>

# Verify if the slice is selected within range

In [55]:
ranges_df[ranges_df['case_id'] == '9002116']

   case_id  start_slice  end_slice  num_valid_slices
0  9002116           33        140               106

In [56]:
df[df['case'] == '9002116']

        case  slice   distance
0    9002116     33  12.754902
1    9002116     34  12.745283
2    9002116     35  13.036364
3    9002116     36  13.434783
4    9002116     37  13.372881
5    9002116     38  13.341667
6    9002116     39  13.090164
7    9002116     40  12.975806
8    9002116     41  13.070312
9    9002116     42  13.213740
10   9002116     43  13.146154
11   9002116     44  13.083969
12   9002116     45  12.932331
13   9002116     46  13.118519
14   9002116     47  13.389706
15   9002116     48  13.877698
16   9002116     49  14.433566
17   9002116     50  14.972414
18   9002116     51  15.074830
19   9002116     52  15.229730
20   9002116     53  15.553333
21   9002116     54  15.921569
22   9002116     55  16.311688
23   9002116     56  16.167742
24   9002116     57  16.547771
25   9002116     58  16.905660
26   9002116     59  17.525000
27   9002116     60  17.616352
28   9002116     61  17.394904
29   9002116     62  17.583333
30   9002116     63  18.382166
31   9002116     64  18.923077
32   9002116     65  19.743590
33   9002116     66  20.655844
34   9002116     67  21.228758
35   9002116     68  21.947368
36   9002116     69  23.420000
37   9002116     70  23.310345
38   9002116     71  23.281690
39   9002116     72  20.208333
40   9002116     73  28.365217
41   9002116     74  29.808696
42   9002116     75  30.379310
43   9002116     76        NaN
44   9002116     77        NaN
45   9002116     78        NaN
46   9002116     79        NaN
47   9002116     80        NaN
48   9002116     81        NaN
49   9002116     82        NaN
50   9002116     83        NaN
51   9002116     84        NaN
52   9002116     85        NaN
53   9002116     86        NaN
54   9002116     87        NaN
55   9002116     88        NaN
56   9002116     89        NaN
57   9002116     90        NaN
58   9002116     91        NaN
59   9002116     92        NaN
60   9002116     93  46.592000
61   9002116     94  45.257812
62   9002116     95  42.435115
63   9002116     96  43.089172
64   9002116     97  42.745342
65   9002116     98  41.527950
66   9002116     99  41.962963
67   9002116    100  41.672840
68   9002116    101  41.441718
69   9002116    102  40.765432
70   9002116    103  42.236364
71   9002116    104  40.274390
72   9002116    105  40.192771
73   9002116    106  39.724551
74   9002116    107  38.748503
75   9002116    108  38.023810
76   9002116    109  37.244048
77   9002116    110  36.633136
78   9002116    111  35.686391
79   9002116    112  34.221557
80   9002116    113  34.303571
81   9002116    114  32.243902
82   9002116    115  32.036810
83   9002116    116  30.925000
84   9002116    117  29.318471
85   9002116    118  28.051948
86   9002116    119  24.027211
87   9002116    120  24.231293
88   9002116    121  24.205479
89   9002116    122  23.924658
90   9002116    123  24.260274
91   9002116    124  23.524138
92   9002116    125  23.160839
93   9002116    126  22.895833
94   9002116    127  23.097902
95   9002116    128  23.244755
96   9002116    129  23.316901
97   9002116    130  24.517241
98   9002116    131  24.447552
99   9002116    132  25.042553
100  9002116    133  25.935252
101  9002116    134  26.211679
102  9002116    135  30.067164
103  9002116    136  29.574803
104  9002116    137        NaN
105  9002116    138        NaN
106  9002116    139        NaN
107  9002116    140        NaN

* Slice 33 to 140.

In [57]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 19826 entries, 0 to 19825
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   case      19826 non-null  object
 1   slice     19826 non-null  int64
 2   distance  15601 non-null  float64
dtypes: float64(1), int64(1), object(1)
memory usage: 619.6+ KB

* 4225 NaN

In [58]:
df = df.dropna(subset=["distance"]).reset_index(drop=True)

In [59]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15601 entries, 0 to 15600
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   case      15601 non-null  object
 1   slice     15601 non-null  int64
 2   distance  15601 non-null  float64
dtypes: float64(1), int64(1), object(1)
memory usage: 365.8+ KB

In [60]:
slice_count_df = df.groupby('case').count()['slice'].reset_index()
slice_count_df = slice_count_df.sort_values(by='slice').reset_index(drop=True)

In [61]:
slice_count_df.head()

      case  slice
0  9645478     37
1  9393987     48
2  9504862     50
3  9917284     51
4  9441420     51

In [62]:
slice_count_df.tail()

        case  slice
191  9719999    107
192  9997856    108
193  9341240    109
194  9925760    113
195  9291078    124

In [63]:
slice_count_df.shape

(196, 2)

In [64]:
slice_count_df.describe()

            slice
count  196.000000
mean    79.596939
std     15.319362
min     37.000000
25%     68.000000
50%     78.500000
75%     91.250000
max    124.000000

# IMPORTANT

* Some case only has 37 valid slices, and others up to 124 slices.

* To predict knee osteoarthritis (OA) severity/KL grades, we need the same feature vector for each case/patient to have the same length/size.

* Obstacle: some case has 37 valid slices with computed distance between femur and tibia and some has up to 124. To continue, we have to select 37 slices for each case for machine learning.

* NOTE: will come back to improve the code for problem 1 and 2 to increase valid slice for better prediction.

<hr>

In [65]:
new_df = df.groupby("case").head(37).reset_index(drop=True)

In [66]:
new_df.head(37)

       case  slice   distance
0   9002116     33  12.754902
1   9002116     34  12.745283
2   9002116     35  13.036364
3   9002116     36  13.434783
4   9002116     37  13.372881
5   9002116     38  13.341667
6   9002116     39  13.090164
7   9002116     40  12.975806
8   9002116     41  13.070312
9   9002116     42  13.213740
10  9002116     43  13.146154
11  9002116     44  13.083969
12  9002116     45  12.932331
13  9002116     46  13.118519
14  9002116     47  13.389706
15  9002116     48  13.877698
16  9002116     49  14.433566
17  9002116     50  14.972414
18  9002116     51  15.074830
19  9002116     52  15.229730
20  9002116     53  15.553333
21  9002116     54  15.921569
22  9002116     55  16.311688
23  9002116     56  16.167742
24  9002116     57  16.547771
25  9002116     58  16.905660
26  9002116     59  17.525000
27  9002116     60  17.616352
28  9002116     61  17.394904
29  9002116     62  17.583333
30  9002116     63  18.382166
31  9002116     64  18.923077
32  9002116     65  19.743590
33  9002116     66  20.655844
34  9002116     67  21.228758
35  9002116     68  21.947368
36  9002116     69  23.420000

In [67]:
new_df.tail(37)

         case  slice   distance
7215  9997856     28  16.746988
7216  9997856     29  17.375000
7217  9997856     30  18.297872
7218  9997856     31  18.696970
7219  9997856     32  17.500000
7220  9997856     33  17.429907
7221  9997856     34  17.189189
7222  9997856     35  17.226087
7223  9997856     36  17.302521
7224  9997856     37  17.147541
7225  9997856     38  17.388889
7226  9997856     39  17.061538
7227  9997856     40  16.857143
7228  9997856     41  16.941176
7229  9997856     42  16.942857
7230  9997856     43  16.542254
7231  9997856     44  16.455172
7232  9997856     45  16.197279
7233  9997856     46  16.306667
7234  9997856     47  16.274510
7235  9997856     48  16.141935
7236  9997856     49  16.108280
7237  9997856     50  16.275000
7238  9997856     51  15.801242
7239  9997856     52  15.635802
7240  9997856     53  15.456790
7241  9997856     54  15.581818
7242  9997856     55  15.432927
7243  9997856     56  15.716867
7244  9997856     57  17.187135
7245  9997856     58  18.097701
7246  9997856     59  18.202312
7247  9997856     60  18.802326
7248  9997856     61  24.571429
7249  9997856     62  23.660000
7250  9997856     63  24.891892
7251  9997856     64  27.571429

In [68]:
final_df = (
    new_df
    .groupby("case")["distance"]
    .apply(list)
    .reset_index(name="distance_vector")
)

In [69]:
final_df[final_df['case'] == '9002116']

,case,distance_vector
0,9002116,"[12.754901960784316, 12.745283018867925, 13.036363636363635, 13.434782608695652, 13.372881355932204, 13.341666666666669, 13.09016393442623, 12.975806451612904, 13.0703125, 13.213740458015268, 13.146153846153846, 13.083969465648854, 12.93233082706767, 13.11851851851852, 13.389705882352942, 13.87769784172662, 14.433566433566432, 14.972413793103447, 15.07482993197279, 15.22972972972973, 15.553333333333333, 15.92156862745098, 16.31168831168831, 16.16774193548387, 16.547770700636942, 16.90566037735849, 17.525, 17.61635220125786, 17.394904458598727, 17.583333333333332, 18.38216560509554, 18.923076923076923, 19.743589743589745, 20.655844155844157, 21.22875816993464, 21.94736842105263, 23.42]"

In [70]:
max_len = final_df["distance_vector"].str.len().max()
cols = [f"d{i}" for i in range(1, max_len+1)]

In [71]:
final_df[cols] = pd.DataFrame(final_df["distance_vector"].tolist(), index=final_df.index)
final_df = final_df.drop("distance_vector", axis=1)

In [72]:
data.head()

     cases  V00XRKL V03KL
0  9002116        3     B
1  9005075        0     A
2  9005132        4     B
3  9026934        2     A
4  9030718        3     B

In [110]:
data = data.rename(columns={"cases": "case"})

In [113]:
print(data['case'].dtype)
print(type(data['case'][0]))

object
<class 'str'>

In [73]:
final_df.head()

,case,d1,d2,d3,d4,d5,d6,d7,d8,d9,d10,d11,d12,d13,d14,d15,d16,d17,d18,d19,d20,d21,d22,d23,d24,d25,d26,d27,d28,d29,d30,d31,d32,d33,d34,d35,d36,d37
0,9002116,12.754902,12.745283,13.036364,13.434783,13.372881,13.341667,13.090164,12.975806,13.070312,13.213740,13.146154,13.083969,12.932331,13.118519,13.389706,13.877698,14.433566,14.972414,15.074830,15.229730,15.553333,15.921569,16.311688,16.167742,16.547771,16.905660,17.525000,17.616352,17.394904,17.583333,18.382166,18.923077,19.743590,20.655844,21.228758,21.947368,23.420000
1,9005075,31.630952,31.597826,29.600000,27.888889,26.766990,25.409524,24.179245,23.289720,23.146789,22.554545,22.522124,22.184211,21.913043,21.530435,23.117647,22.663866,22.050847,22.403361,22.766667,23.557377,23.747967,24.370968,25.008000,27.148438,29.389313,29.887218,32.569343,33.394161,34.316547,35.964539,36.773050,36.237410,38.524823,38.414286,38.690647,39.597122,40.304348
2,9005132,12.602740,11.950617,11.379310,11.054348,11.212121,11.603774,11.594595,11.443478,11.697479,12.008130,12.000000,11.740157,11.635659,11.610687,11.753731,11.576642,11.340580,11.079137,10.741007,10.870504,10.492754,10.771429,10.637037,10.598540,11.086957,11.704225,11.500000,12.171642,12.740741,13.598485,14.115385,15.955224,17.777778,17.800000,17.896296,18.014925,16.230088
3,9026934,14.588235,14.337079,14.852632,15.080808,15.529412,16.103774,16.834862,16.630631,16.530973,15.964602,16.060345,16.588235,16.428571,16.516667,16.650000,17.256198,17.355372,17.942149,19.219512,19.458333,20.616667,21.864407,23.586207,28.247788,31.672727,32.788462,22.392857,22.722892,23.764228,23.943548,23.209677,24.226562,23.750000,23.480620,23.700000,22.131783,23.427481
4,9030718,31.166667,30.410000,28.771429,27.907407,26.609091,25.027273,24.892857,24.535714,28.338710,28.515873,28.352000,29.063492,29.080000,28.157025,24.513043,24.956897,25.120690,24.860870,25.034783,24.728070,25.513043,25.434783,26.724138,29.806723,29.728814,30.529412,30.415254,29.170940,30.752137,31.465517,31.543103,31.061404,31.327434,22.785714,19.689655,17.989247,26.477876

In [82]:
print(final_df['case'].dtype)
print(type(final_df['case'][0]))

object
<class 'str'>

In [114]:
# Merge:

final_df_merged = final_df.merge(data, on="case", how="left")

In [116]:
final_df_merged = final_df_merged.rename(columns={
    'V00XRKL':'y1', 
    'V03KL':'y2'})

In [117]:
final_df_merged.head()

,case,d1,d2,d3,d4,d5,d6,d7,d8,d9,d10,d11,d12,d13,d14,d15,d16,d17,d18,d19,d20,d21,d22,d23,d24,d25,d26,d27,d28,d29,d30,d31,d32,d33,d34,d35,d36,d37,y1,y2
0,9002116,12.754902,12.745283,13.036364,13.434783,13.372881,13.341667,13.090164,12.975806,13.070312,13.213740,13.146154,13.083969,12.932331,13.118519,13.389706,13.877698,14.433566,14.972414,15.074830,15.229730,15.553333,15.921569,16.311688,16.167742,16.547771,16.905660,17.525000,17.616352,17.394904,17.583333,18.382166,18.923077,19.743590,20.655844,21.228758,21.947368,23.420000,3,B
1,9005075,31.630952,31.597826,29.600000,27.888889,26.766990,25.409524,24.179245,23.289720,23.146789,22.554545,22.522124,22.184211,21.913043,21.530435,23.117647,22.663866,22.050847,22.403361,22.766667,23.557377,23.747967,24.370968,25.008000,27.148438,29.389313,29.887218,32.569343,33.394161,34.316547,35.964539,36.773050,36.237410,38.524823,38.414286,38.690647,39.597122,40.304348,0,A
2,9005132,12.602740,11.950617,11.379310,11.054348,11.212121,11.603774,11.594595,11.443478,11.697479,12.008130,12.000000,11.740157,11.635659,11.610687,11.753731,11.576642,11.340580,11.079137,10.741007,10.870504,10.492754,10.771429,10.637037,10.598540,11.086957,11.704225,11.500000,12.171642,12.740741,13.598485,14.115385,15.955224,17.777778,17.800000,17.896296,18.014925,16.230088,4,B
3,9026934,14.588235,14.337079,14.852632,15.080808,15.529412,16.103774,16.834862,16.630631,16.530973,15.964602,16.060345,16.588235,16.428571,16.516667,16.650000,17.256198,17.355372,17.942149,19.219512,19.458333,20.616667,21.864407,23.586207,28.247788,31.672727,32.788462,22.392857,22.722892,23.764228,23.943548,23.209677,24.226562,23.750000,23.480620,23.700000,22.131783,23.427481,2,A
4,9030718,31.166667,30.410000,28.771429,27.907407,26.609091,25.027273,24.892857,24.535714,28.338710,28.515873,28.352000,29.063492,29.080000,28.157025,24.513043,24.956897,25.120690,24.860870,25.034783,24.728070,25.513043,25.434783,26.724138,29.806723,29.728814,30.529412,30.415254,29.170940,30.752137,31.465517,31.543103,31.061404,31.327434,22.785714,19.689655,17.989247,26.477876,3,B

<hr>

# Write final_df ready for meachine learning to 'final_df.csv'. Go to problem 4 to continue:

In [119]:
final_df_merged.to_csv("../final_problem4-5-6_kien_steven/final_df_merged.csv", index=False)